<app-modal id="CreateBook" title="Criar Livro"  goBack="" [disabled]="false">
    <form 
        #form="ngForm"
        novalidate
        [class.was-validated]="!form.valid && (form.dirty || form.touched)">
        <div class="row mb-2">
            <div app-input label="title" title="Título" errorMessage="Insira o título" class="col-sm-7">
                <input
                    id="title"
                    name="title"
                    type="text"
                    class="form-control"
                    placeholder="Nome"
                    autocomplete="off"
                    required
                    minlength="1"
                    maxlength="40"
                    ngModel />
            </div>
            <div app-input label="publisher" title="Editora" errorMessage="Insira a editora" class="col-sm-5">
                <input
                    id="publisher"
                    name="publisher"
                    type="text"
                    class="form-control"
                    placeholder="Editora"
                    autocomplete="off"
                    required
                    minlength="1"
                    maxlength="40"
                    ngModel />
            </div>
        </div>
        <div class="row g-3">
            <div app-input label="edition" title="Edição" errorMessage="Insira a edição" class="col-sm">
                <input
                    id="edition"
                    name="edition"
                    type="text"
                    class="form-control"
                    placeholder="Editora"
                    autocomplete="off"
                    required
                    pattern="^[0-9]*$"
                    ngModel />
            </div>
            <div app-input label="year" title="Ano" errorMessage="Insira o ano" class="col-sm">
                <input
                    id="year"
                    name="year"
                    type="text"
                    class="form-control"
                    placeholder="Editora"
                    autocomplete="off"
                    appYear
                    required
                    ngModel />
            </div>
            <div app-input label="price" title="Preço" errorMessage="Insira o preco" class="col-sm">
                <input
                    id="price"
                    name="price"
                    type="text"
                    class="form-control"
                    placeholder="Editora"
                    autocomplete="off"
                    appCurrency
                    required
                    ngModel />
            </div>
        </div>
        <hr />
        <div class="row mb-2">
            <div app-input label="name" title="Autor" errorMessage="Insira o autor">
                <input
                    id="name"
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Autor"
                    autocomplete="off"
                    required
                    minlength="1"
                    maxlength="40"
                    ngModel />
            </div>
        </div>
        <hr />
        <div class="row mb-2">
            <div app-input label="description" title="Assunto" errorMessage="Insira o assunto">
                <input
                    id="description"
                    name="description"
                    type="text"
                    class="form-control"
                    placeholder="Assunto"
                    autocomplete="off"
                    required
                    minlength="1"
                    maxlength="20"
                    ngModel />
            </div>
        </div>
    </form>

    {{ form.value | json }}
</app-modal>