<div class="row py-2 border-top">
    <div class="col-1 align-items-center">
        <span class="align-middle">{{book.id}}</span>
    </div>
    <div class="col-7 text-start">
        <span class="align-middle">{{book.title}}</span>
    </div>
    <div class="col-4 text-end">
        <div class="btn-group">
            <app-btn icon="bi bi-search" css="btn btn-sm btn-outline-secondary" (click)="ShowInfo($event)"></app-btn>
            <app-btn icon="bi bi-trash" css="btn btn-sm btn-outline-secondary"></app-btn>
        </div>
    </div>
</div>
<div class="row py-2 bg-info bg-opacity-25 rounded mb-2" *ngIf="toogle">
    <app-author [authors]="book.authors"></app-author>
    <app-subject [subjects]="book.subjects"></app-subject>
</div>