<app-modal 
    id="CreateAuthor"
    title="Criar Autor"
    goBack="/authors"
    (clickEvent)="SaveAuthor(form.value)"
    [disabled]="!form.valid">
    <form 
        #form="ngForm"
        novalidate
        [class.was-validated]="!form.valid && (form.dirty || form.touched)">
        <div class="row">
            <div app-input label="name" title="Nome" errorMessage="Insira o nome" class="col">
                <input
                    id="name"
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Nome"
                    autocomplete="off"
                    required
                    minlength="1"
                    maxlength="40"
                    ngModel />
            </div>
        </div>       
    </form>
</app-modal>