<app-modal 
    id="CreateAuthor"
    title="Criar Assunto"
    goBack="/subjects"
    (clickEvent)="SaveSubject(form.value)"
    [disabled]="!form.valid">
    <form 
        #form="ngForm"
        novalidate
        [class.was-validated]="!form.valid && (form.dirty || form.touched)">
        <div class="row">
            <div app-input label="description" title="Descrição" errorMessage="Insira uma descrição" class="col">
                <input
                    id="description"
                    name="description"
                    type="text"
                    class="form-control"
                    placeholder="Nome"
                    autocomplete="off"
                    required
                    minlength="1"
                    maxlength="20"
                    ngModel />
            </div>
        </div>       
    </form>
</app-modal>