<div class="modal fade show" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Cadastrar autor:</h1>
                <button type="button" class="btn-close" [routerLink]="['']"></button>
            </div>
            <div class="modal-body">
                <form #form="ngForm"
                    class="row g-3 needs-validation"
                    novalidate
                    [class.was-validated]="!form.valid && (form.dirty || form.touched)">
                    <div class="col">
                        <app-input label="name" errorMessage="Need Caracter">
                            <input
                                id="name"
                                name="name"
                                type="text"
                                class="form-control"
                                placeholder="name"
                                required
                                minlength="1"
                                maxlength="40"
                                ngModel
                                />
                        </app-input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button 
                    type="button"
                    class="btn btn-info text-white"
                    [class.btn-info]="form.valid"
                    [class.btn-secondary]="!form.valid"
                    [disabled]="!form.valid"
                    (click)="SaveAuthor(form.value)">Save</button>
            </div>
        </div>
    </div>
</div>