<div class="col">
    <h6 class="fw-normal text-secondary">Assuntos:</h6>
    <ul class="list-group list-group-flush rounded">
        <li class="list-group-item p-1 text-end text-body-secondary" *ngFor="let subject of subjects">
            {{subject.description}}
            <app-btn icon="bi bi-x-square" css="btn btn-sm btn-outline-danger border-0"></app-btn>
        </li>
    </ul>
    <div class="row justify-content-end text-end mt-2 rounded">
        <div class="col-12">
            <app-btn icon="bi bi-person-plus" css="btn btn-sm btn-outline-secondary border-0"></app-btn>
        </div>
    </div>
</div>