<div class="modal fade show" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Cadastrar Livro:</h1>
                <button type="button" class="btn-close" [routerLink]="['']"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row mb-2">
                        <div class="col-sm">
                            <label class="form-label">Título</label>
                            <input type="text" class="form-control" placeholder="Título">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-7">
                            <label class="form-label">Editora</label>
                            <input type="text" class="form-control" placeholder="Editora">
                        </div>
                        <div class="col-sm">
                            <label class="form-label">Edição</label>
                            <input type="text" class="form-control" placeholder="Edição">
                        </div>
                        <div class="col-sm">
                            <label class="form-label">Ano</label>
                            <input type="text" class="form-control" placeholder="Ano">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info text-white">Save</button>
            </div>
        </div>
    </div>
</div>